.social-link {
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;

  &_place {
    &_footer {
      display: flex;
      align-items: center;
      gap: 10px;

      @media screen and (max-width: 767px) {
        gap: 5px;
        @include font-text-normal-mobile;
      }
    }
  }

  &__img {
    @media screen and (max-width: 767px) {
      width: 20px;
      height: 20px;
    }

    &_for {
      &_instagram {
        padding: 7px 2px 5px 10px;

        @media screen and (max-width: 767px) {
          padding: 5px 2px 4px 8px;
        }
      }

      &_facebook {
        padding: 5px 5px 4px 13px;

        @media screen and (max-width: 767px) {
          padding: 4px 4px 3px 10px;
        }
      }

      &_vk {
        padding: 10px 2px 4px 4px;

        @media screen and (max-width: 767px) {
          padding: 8px 2px 3px 3px;
        }
      }
    }
  }

  &__text {
    color: $white;
    border-bottom: 1px solid transparent;
    @include font-text-normal;

    &_place {
      &_footer {
        color: $black;

        @media screen and (max-width: 767px) {
          @include font-text-normal-mobile;
        }
      }
    }
  }

  &:hover .social-link__text {
    border-color: $white;
  }

  &:hover .social-link__text_place_footer {
    border-color: $black;
  }

  &:active .social-link__text {
    color: $orange200;
    border-color: $orange200;
  }
}
