.social-link {
  color: $white;
  text-decoration: none;
  @include font-text-normal;
  cursor: pointer;
  transition-duration: 0.2s;

  &_place {
    &_footer {
      display: flex;
      gap: 0.625em;
      color: $black;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $orange200;
  }
}
