.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 570px;
  min-height: 673px;
  padding: 40px;
  background-color: $beige200;
  border-radius: 50px;

  @media screen and (max-width: 1130px) {
    min-height: 841px;
  }

  @media screen and (max-width: 767px) {
    gap: 40px;
    padding: 1.25em;
    border-radius: 20px;
    min-height: auto;
  }

  &__text {
    margin: 0;
    color: $black;
    @include font-text-big;

    @media screen and (max-width: 767px) {
      @include font-text-big-mobile;
    }
  }

  &__user-block {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      align-items: flex-end;
    }
  }

  &__user-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__user-name {
    margin: 0;
    color: $black;
    @include font-h3;

    @media screen and (max-width: 767px) {
      @include font-h3-mobile;
    }
  }

  &__tour-name {
    margin: 0;
    color: $gray300;
    @include font-text-small;

    @media screen and (max-width: 767px) {
      @include font-text-small-mobile;
    }
  }

  &__avatar {
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
