.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 3.125em;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 1024px) {
      gap: 30px;
    }
  }

  &__item {
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $white;
    }

    &_fixed {
      &:hover {
        border-color: $black;
      }
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    @include font-text-normal;

    cursor: pointer;

    &_fixed {
      color: $black;
    }
  }
}
