.link-more {
  display: flex;
  align-items: center;
  gap: 0.938em;
  max-width: 199px;
  padding: 0.438em 1.25em;
  text-decoration: none;
  transition-duration: 0.2s;
  border-radius: 50px;

  &:hover {
    background-color: $green400;
  }

  &:active {
    background-color: $orange200;
  }

  @media screen and (max-width: 767px) {
    max-width: 162px;
  }

  &__span {
    color: $white;
    @include font-text-big;

    @media screen and (max-width: 767px) {
      @include font-text-big-mobile;
    }
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 26px;
    background-image: url(../../assets/images/arrow-bt.svg);
  }
}
