mixin form-button(params= {})
  -
    const {
      buttonType= "",
      buttonText= "",
      forReset= false
    } = params;

    const resetButton = forReset ? "form-button_reset js-form-button_reset" : "";

  button.form-button(class=`${resetButton}` type= buttonType)= buttonText