.reviews {
  width: 100%;
  max-width: 1920px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.25em;
    max-width: 1276px;
    margin: 0 auto;
    padding: 0 3.313em;

    @media screen and (max-width: 1024px) {
      gap: 6.125em;
    }

    @media screen and (max-width: 767px) {
      gap: 3.125em;
      padding: 0 1.313em;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875em;

    @media screen and (max-width: 767px) {
      gap: 1.25em;
    }
  }

  &__title {
    max-width: 529px;
    margin: 0;
    color: $black;
    text-align: center;
    @include font-h2;

    @media screen and (max-width: 767px) {
      @include font-h2-mobile;
    }
  }

  &__subtitle {
    max-width: 418px;
    margin: 0;
    color: $gray300;
    text-align: center;
    @include font-text-normal;

    @media screen and (max-width: 767px) {
      @include font-text-normal-mobile;
    }
  }

  &__list {
    display: flex;
    gap: 1.875em;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 1024px) {
      gap: 1.125em;
    }

    @media screen and (max-width: 991px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
