.reviews {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.25em;
    max-width: 1276px;
    margin: 0 auto;
    padding: 0 3.313em;

    @media screen and (max-width: 1024px) {
      gap: 6.125em;
    }

    @media screen and (max-width: 767px) {
      gap: 3.125em;
      padding: 0 1.313em;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875em;

    @media screen and (max-width: 767px) {
      gap: 1.25em;
    }
  }

  &__title {
    max-width: 529px;
    margin: 0;
    color: $black;
    text-align: center;
    @include font-h2;

    @media screen and (max-width: 767px) {
      @include font-h2-mobile;
    }
  }

  &__subtitle {
    max-width: 418px;
    margin: 0;
    color: $gray300;
    text-align: center;
    @include font-text-normal;

    @media screen and (max-width: 767px) {
      @include font-text-normal-mobile;
    }
  }

  &__list {
    display: flex;
    gap: 1.875em;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 1024px) {
      gap: 1.125em;
    }

    @media screen and (max-width: 991px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 570px;
    min-height: 673px;
    padding: 40px;
    background-color: $beige200;
    border-radius: 50px;

    @media screen and (max-width: 1130px) {
      max-width: 450px;
      min-height: 841px;
    }

    @media screen and (max-width: 991px) {
      gap: 40px;
      padding: 1.25em;
      border-radius: 20px;
      min-height: auto;
    }
  }

  &__text {
    margin: 0;
    color: $black;
    @include font-text-big;

    @media screen and (max-width: 767px) {
      @include font-text-big-mobile;
    }
  }

  &__user-block {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      align-items: flex-end;
    }
  }

  &__user-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__user-name {
    margin: 0;
    color: $black;
    @include font-h3;

    @media screen and (max-width: 767px) {
      @include font-h3-mobile;
    }
  }

  &__tour-name {
    margin: 0;
    color: $gray300;
    @include font-text-small;

    @media screen and (max-width: 767px) {
      @include font-text-small-mobile;
    }
  }

  &__avatar {
    max-height: 75px;
    border-radius: 50%;
    overflow: hidden;
  }
}
