.page {
  width: 100%;
  max-width: 1920px;

  &__promo {
    margin-bottom: 136px;
  }

  &__tours,
  &__tour-form,
  &__reviews,
  &__gallery,
  &__stories {
    margin-bottom: 135px;
  }
}