.page {
  width: 100%;
  max-width: 1920px;

  &__promo {
    margin-bottom: 8.5em;

    @media screen and (max-width: 767px) {
      margin-bottom: 4.688em;
    }
  }

  &__tours,
  &__tour-form,
  &__reviews,
  &__gallery,
  &__stories {
    margin-bottom: 8.438em;

    @media screen and (max-width: 767px) {
      margin-bottom: 4.688em;
    }
  }

  &__call-to-action {
    margin-bottom: 8.125em;

    @media screen and (max-width: 767px) {
      margin-bottom: 4.688em;
    }
  }
}
