.promo {
  width: 100%;
  background-image: url(../../assets/images/promo-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -224px;

  @media screen and (max-width: 1600px) {
    background-position: center;
  }

  @media screen and (max-width: 1024px) {
    background-position: -111px 0;
  }

  @media screen and (max-width: 767px) {
    background-position: center 0;
    background-size: 204%;
  }

  &__gradient {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125em;
    max-width: 1280px;
    margin: 0 auto;
    padding: 12.938em 3.438em 7.438em;
    min-height: 831px;

    @media screen and (max-width: 767px) {
      justify-content: center;
      gap: 2.5em;
      min-height: 488px;
      padding: 8.75em 1.563em 3.25em;
    }
  }

  &__title {
    max-width: 769px;
    margin: 0;
    color: $white;
    text-align: center;
    @include font-h1;

    @media screen and (max-width: 767px) {
      @include font-h1-mobile;
    }
  }

  &__subtitle {
    max-width: 28.1em;
    margin: 0;
    color: $white;
    text-align: center;
    @include font-text-normal;

    @media screen and (max-width: 1024px) {
      max-width: 442px;
    }

    @media screen and (max-width: 767px) {
      @include font-text-normal-mobile;
    }
  }

  &__button {
    padding: 0.294em 1.176em;
    color: $black;
    background-color: $white;
    border-radius: 10px;
    @include font-text-small;
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
      color: $white;
      background-color: $orange200;
    }

    &:active {
      color: $black;
      background-color: $orange100;
    }

    @media screen and (max-width: 767px) {
      @include font-text-normal-mobile;
    }
  }
}
