.tour-form {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.25em;
    max-width: 1276px;
    margin: 0 auto;
    padding: 0 3.313em;

    @media screen and (max-width: 767px) {
      gap: 2.5em;
      padding: 0 1.313em;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875em;

    @media screen and (max-width: 767px) {
      gap: 1.25em;
    }
  }

  &__title {
    margin: 0;
    color: $black;
    text-align: center;
    @include font-h2;

    @media screen and (max-width: 767px) {
      @include font-h2-mobile;
    }
  }

  &__subtitle {
    max-width: 418px;
    margin: 0;
    color: $gray300;
    text-align: center;
    @include font-text-normal;

    @media screen and (max-width: 767px) {
      @include font-text-normal-mobile;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.063em;
    width: 100%;
    max-width: 1170px;
    padding: 4.375em;
    background-color: $white;
    border-radius: 50px;

    @media screen and (max-width: 1024px) {
      padding: 3.75em;
    }

    @media screen and (max-width: 767px) {
      gap: 1.875em;
      border-radius: 30px;
      padding: 1.25em 1.25em 2.5em;
    }
  }

  &__fieldset {
    display: grid;
    grid:
      'name direction' 1fr
      'email phone' 1fr
      'date-from date-to' 1fr
      'comment comment'
      / 1fr 1fr;
    gap: 2.063em 1.875em;
    margin: 0;
    padding: 0;
    border: none;

    @media screen and (max-width: 1024px) {
      gap: 2.063em 1.25em;
    }

    @media screen and (max-width: 767px) {
      grid:
        'name'
        'direction'
        'email'
        'phone'
        'date-from'
        'date-to'
        'comment'
        / 1fr;
      gap: 1.875em;
    }
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;

    &_name {
      grid-area: name;
    }

    &_select {
      grid-area: direction;
    }

    &_email {
      grid-area: email;
    }

    &_tel {
      grid-area: phone;
    }

    &_date-from {
      grid-area: date-from;
    }

    &_date-to {
      grid-area: date-to;
    }

    &_textarea {
      grid-area: comment;
    }
  }

  &__input-title {
    margin: 0;
    color: $black;
    @include font-text-normal;

    @media screen and (max-width: 767px) {
      @include font-text-normal-mobile;
    }
  }

  &__select-wrapper {
    position: relative;
    max-width: 500px;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 23px;
      right: 20px;
      width: 26px;
      height: 26px;
      margin-top: -2px;
      background-image: url('../../assets/images/arrow-dropdown.svg');
      pointer-events: none;

      @media screen and (max-width: 767px) {
        top: 12px;
        right: 10px;
      }
    }
  }

  &__select {
    width: 100%;
    padding: 19px;
    color: $black;
    background-color: $beige100;
    border: 1px solid $beige200;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    appearance: none;
    @include font-text-normal;

    &:hover {
      background-color: $beige200;
    }

    &:focus {
      background-color: $beige200;
      border: 1px solid $gray300;
    }

    &:invalid {
      color: $gray300;
    }

    @media screen and (max-width: 767px) {
      padding: 10px;
      @include font-text-normal-mobile;
    }
  }

  &__option {
    color: $black;
  }

  &__textarea {
    width: 100%;
    min-height: 152px;
    padding: 0.5em;
    background-color: $beige100;
    border: 1px solid $beige200;
    border-radius: 10px;
    outline: none;
    resize: none;
    @include font-text-normal;

    cursor: pointer;

    &:hover {
      background-color: $beige200;
    }

    &:focus {
      background-color: $beige200;
      border: 1px solid $gray300;
    }

    @media screen and (max-width: 767px) {
      min-height: 132px;
    }
  }

  &__radio-content {
    display: flex;
    gap: 1.938em;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875em;

    @media screen and (max-width: 767px) {
      gap: 0.625em;
    }
  }
}
