include ../logo/logo
include ../menu/menu
include ../tel/tel

mixin header(params = {})
  -
    const {
      srcLogoImg,
      menuItems,
      hrefTel,
      numberTel,
    } = params;

  header.header
    .header__container
      .header__logo
        +logo({srcLogoImg})
      .header__menu
        +menu({menuItems})
      .header__tel
        +tel({
          hrefTel,
          numberTel,
        })

