.header {
  position: absolute;
  width: 100%;
  max-width: 1920px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1282px;
    margin: 0 auto;
    padding: 1.805em 3.563em;

    @media screen and (max-width: 1024px) {
      padding: 1.688em 3.563em 1.805em;
    }

    @media screen and (max-width: 767px) {
      padding: 2.031em 1.25em;
    }
  }

  &__menu {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}
