.header {
  width: 100%;
  max-width: 1920px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1208px;
    margin: 0 auto;
    padding: 1.805em 1.25em;
  }
}
