.gallery {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.25em;
  margin: 0 auto;
  padding: 0 1.25em;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875em;
  }

  &__title {
    margin: 0;
    color: $black;
    text-align: center;
    @include font-h2;
  }

  &__subtitle {
    max-width: 418px;
    margin: 0;
    color: $gray300;
    text-align: center;
    @include font-text-normal;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.875em;
  }

  &__photos {
    display: flex;
    gap: 1.875em;
    max-width: 1860px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__photo {
    border-radius: 50px;
    overflow: hidden;
    height: 300px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
