.checkbox {
  width: 100%;

  &__label {
    display: flex;
    align-items: center;
    gap: 1.188em;

    @media screen and (max-width: 1024px) {
      gap: 0.688em;
    }

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      gap: 0.625em;
    }
  }

  &__input {
    display: grid;
    place-content: center;
    width: 26px;
    height: 26px;
    margin: 0;
    color: currentColor;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 0.286em;
    outline: none;
    appearance: none;

    @media screen and (max-width: 767px) {
      width: 20px;
      height: 20px;
    }

    &::before {
      width: 12px;
      height: 10px;
      background-image: url(../../assets/images/arrow-checkbox.svg);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      content: '';

      @media screen and (max-width: 767px) {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  &__text {
    color: $gray300;
    @include font-text-small;

    @media screen and (max-width: 767px) {
      @include font-text-normal-mobile;
    }
  }

  &__link {
    color: $black;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $green400;
    }
  }
}
