.footer {
  width: 100%;
  max-width: 1920px;
  background-color: $beige200;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
    padding: 1.875em;
  }

  &__text {
    margin: 0;
    color: $gray300;
    @include font-text-normal;
  }

  &__social-links {
    display: flex;
    gap: 1.563em;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}