.input-group {
  width: 100%;
  max-width: 500px;

  &__input {
    width: 100%;
    padding: 0.95em;
    color: $black;
    background-color: $beige100;
    border: 1px solid $beige200;
    border-radius: 10px;
    outline: none;
    @include font-text-normal;

    &::placeholder {
      color: $gray300;
    }

    &:hover {
      cursor: pointer;
      background-color: $beige200;
    }

    &:focus {
      background-color: $beige200;
      border: 1px solid $gray300;
    }
  }
}