include ../../components/header/header
include ../../components/footer/footer

block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="туры, путешествия, интернет-магазин")
    meta(name="description", content="YourTour - сервис для создания туров онлайн с круглосуточной службой поддержки.")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="./assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="./assets/favicons/favicon.ico")
    title #{title ? title : 'Заголовок страницы'}
    link(href="./assets/styles/main.css" rel="stylesheet")
  body
    +header({
      menuItems: [
        {menuItemLink: "/mock-address/change-me", menuItemName: "Туры"},
        {menuItemLink: "/mock-address/change-me", menuItemName: "Создать тур"},
        {menuItemLink: "/mock-address/change-me", menuItemName: "Отзывы"},
        {menuItemLink: "/mock-address/change-me", menuItemName: "Истории"},
      ],
      hrefTel: "tel:+7(999)9999999",
      numberTel: "+7 999 999 99 99",
    })
    main
      block content
    +footer({
      footerText: "Наши социальные сети",
      footerSocialLinks: [
        {
          text: "instagram",
          href: "/mock-address/change-me-instagram",
          imgSrc: "./assets/images/inst.png",
          imgAlt: "Иконка Instagram",
        },
        {
          text: "facebook",
          href: "/mock-address/change-me-facebook",
          imgSrc: "./assets/images/fb.png",
          imgAlt: "Иконка Facebook",
        },
                {
          text: "vkontakte",
          href: "/mock-address/change-me-vkontakte",
          imgSrc: "./assets/images/vk.png",
          imgAlt: "Иконка Вконтакте",
        },

      ],
    })
    script(src="./assets/js/index.js")
    block scripts
